.movieCard {
  width: 200px;
  text-align: center;
  font-size: 13px;
  margin: 0.5rem;
  cursor: pointer;
}
.movieCard a {
  color: white;
  text-decoration: none;
}
.movieCard img {
  width: 200px;
  height: 250px;
  object-fit: fill;
}
.movieCard p {
  white-space: nowrap;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  width: 200px;
  height: 250px;
  background-color: #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .movieCard {
    width: 150px;
  }
  .movieCard img,
  .placeholder {
    width: 150px;
    height: 200px;
  }
}
