.largeList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.notSignedIn {
  text-align: center;
  font-size: 24px;
  background-color: transparent;
  margin: 5rem auto 1rem;
  width: fit-content;
  padding: 2rem 1rem;
  border-radius: 20px;
  border: 3px solid white;
}
@media (max-width: 700px) {
  .largeList {
    gap: 0;
  }
  .notSignedIn {
    font-size: 16px;
  }
}
