.movieCard {
  width: 200px;
  text-align: center;
  font-size: 13px;
  margin: 0.5rem;
  cursor: pointer;
}
.movieCard img {
  width: 200px;
  height: 250px;
  object-fit: fill;
}
.movieCard p {
  white-space: nowrap;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
