.reviews {
  flex-direction: column;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  background-color: rgba(148, 148, 148, 0.22);
  width: fit-content;
  border-radius: 20px;
}

.header {
  margin: 2rem 1rem 1rem;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  width: 700px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  line-height: 20px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.reviews p {
  margin: 1rem;
  width: 700px;
}

@media (max-width: 700px) {
  .reviewCard,
  .reviews p {
    font-size: 0.9rem;
    width: calc(100vw - 5rem);
  }
}
