.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 2rem;
}
.searchBar input,
.searchBar .submit {
  padding: 1rem;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0;
}
.searchBar input {
  max-width: 700px;
}

.searchBar .submit {
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 700px) {
  .searchBar {
    font-size: 16px;
  }
  .searchBar input {
    width: 200px;
  }
}
